#!version:1.0.0.1

### ZeroTouchSIP Yealink baseline (T2/T3/T4/T5/T6 desk phones)
### Template from exports: T44-7795, T46-909E, T53-9143 (common MAC-all.cfg shape)

;; @YEALINK_ACCOUNTS@

;; @YEALINK_LINEKEYS@

;; @YEALINK_EXPANSION@

;; @YEALINK_WIFI@

local_time.dhcp_time = 1
local_time.date_format = {DATE_FORMAT}
local_time.ntp_server1 = {NTP_SERVER1}
local_time.ntp_server2 = {NTP_SERVER2}
local_time.summer_time = {SUMMER_TIME}
local_time.time_zone = {TIME_ZONE}
local_time.time_zone_name = {TIME_ZONE_NAME}

phone_setting.backlight_time = {BACKLIGHT_TIME}
lang.wui = {LANG_WUI}

push_xml.sip_notify = {PUSH_XML_SIP_NOTIFY}
programablekey.17.line = 0
programablekey.17.type = {PROGRAMMABLE_KEY_17_TYPE}

features.enhanced_dss_keys.enable = {ENHANCED_DSS_KEYS_ENABLE}

voice.handset.spk_vol = {VOICE_HANDSET_SPK_VOL}
voice.handfree.spk_vol = {VOICE_HANDFREE_SPK_VOL}
voice.handfree.tone_vol = {VOICE_HANDFREE_TONE_VOL}
voice.ring_vol = {VOICE_RING_VOL}

;; @YEALINK_SECURITY@

### Static Configuration ###
static.auto_provision.repeat.enable = 1
static.auto_provision.server.url = {STATIC_PROV_URL}
static.network.dhcp_host_name = {DHCP_HOSTNAME}
static.security.user_name.user = {STATIC_GUEST_USER}
static.sys.local_log.retention.enable = 0
